<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>Ai cOver song</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <h1>Ai로 노래를 cover해보세요!</h1>
    <h2>음성 파일 업로드</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">음성 파일을 선택하세요:</label>
        <input type="file" id="file" name="file" accept="audio/*" required>
        <button type="submit">업로드</button>
    </form>
    <br>

    <h3>추출할 음원 링크 입력 (ex.https://www.youtube.com/)</h3>

    <form action="/download" method="post" id="form2">
      <label for="url">YouTube URL:</label>
      <input type="text" id="url" name="url" required>
      <input type="submit" value="Convert">
    </form>
    <div>
    </div>
  </body>
</html>